body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    padding:0;
    background-color:#1B1C1D;
}

.header{
    color: whitesmoke;
    text-align: left;
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 5px 5px black;
    position: relative;
}
.header img{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px; 
    height: auto;
    padding:20px;
}
.header h1 {
    margin: 0;
    font-size: 30px;
    padding: 20px;
    background-color:#C8102E;
}

.navigation ul {
    margin: 0px;
    text-align: left;
    padding: 10px;
    background-color:#960C22;
}

.navigation ul li {
    display: inline;
    margin: 10px;
    cursor: pointer;
}

.navigation ul li a {
    font-size: 20px;
    transition: color 0.5s;
    color: whitesmoke;
}

.navigation ul li a:hover {
    color: #f2c641;
}



.welcome img{
    margin: 85px 40px 40px;
    width: 100%;
    max-width: 700px;
    padding:0px;
    height: auto;  
    float: left;
    box-shadow: 0px 0px 10px black; 
}
.description{
    text-align: center;
    padding: 170px; 
    margin: 0px;
    text-shadow: 0px 5px 5px black;
    
}
.description p{
    color:whitesmoke;
    font-size: 25px;
    
}
.description h2{
    margin: 5px;
    font-size: 50px;
    color: red;
    
}



.gallery{
    background-image: url("/Images/wallpaper.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    margin:0;
    box-shadow: 0px 0px 10px black;
    padding:50px
}
.gallery h2{
    font-size: 50px;
    color: #e81313;
    text-align:center;
    text-shadow: 0px 5px 5px black;
}

.slider {
    width: 700px;
    height: 500px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    animation: slide 40s infinite;
    overflow: hidden;
    padding-bottom:65px;
    transition: transform 0.5s ease-in-out;
  }
  @keyframes slide{
    0%{ 
        background-image: url(/Images/steak.avif);
     }
    10%{ 
        background-image: url(/Images/burger.avif);
    }
    20%{ 
        background-image: url(/Images/chicken.avif);
    }
    30%{ 
        background-image: url(/Images/pancake.avif);
    }
    40%{ 
        background-image: url(/Images/salad.avif);
    }
    50%{ 
        background-image: url(/Images/soup.avif);
    }
    60%{ 
        background-image: url(/Images/pizza.avif); 
    }
    70%{
        background-image: url(/Images/waffle.avif);
    }
    80%{
        background-image: url(/Images/fries.avif);
    }
    90%{
        background-image: url(/Images/snacks.avif);
    }
    100%{ 
        background-image: url(/Images/sandwich.avif);
    }
}

.description2{
    padding:40px;
    text-shadow: 0px 5px 5px black;
}
.description2 h2{
    font-size:40px;
    color:red;
}
.description2 h3{
    color:whitesmoke;
    font-size:20px;
}
.description2 li{
    color:lightgrey;
    font-size:18px

}
.visit img {
    float: right;
    margin: 85px 40px 40px;
    width: 700px;
    padding: 0px;
    height: auto;  
    box-shadow: 0px 0px 10px black; 
}

.newsletter {
    text-align: center;
    background-image: url("/Images/wallpaper.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    margin:0;
    box-shadow: 0px 0px 10px black;
    padding:100px
  }
  
  .newsletter h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color:whitesmoke;
    text-shadow: 0px 5px 5px black;

  }
  
  .newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .newsletter p{
    text-shadow: 0px 5px 5px black;
    color:white;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .newsletter button:hover {
    background-color: tomato;
  }



.info{
    background-color: #C8102E;
    padding:35px 60px;
    box-shadow: 0px 0px 10px black;
}
.fa-x-twitter {
    color: black;
}

.fa-youtube {
    color: red;
}
.fa-instagram{
    color:white;
}
.info {
    position: relative;
}

.icons {
    position: absolute;
    top: 20px;
    right: 20px;
    padding:75px 150px;
    font-size: 30px;
}

.icons a {
    margin-left: 10px;
}



.footer {
    background-color: #333;
    color: white;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px black;

}


@media screen and (max-width: 768px){
    body{
        font-size: 14px; 
    }

    .header h1 {
        font-size: 24px; 
    }

    .navigation ul li a {
        font-size: 16px; 
    }
}